{% block subject %}
Подтверждение приглашения в рабочее пространство
{% endblock subject %}

{% block html_body %}
<p> Вы получили это письмо, потому что {{ user.representation_name }} вас пригласил присоединиться к
    рабочему пространству {{ workspace }}</p>
<p>
    Пожалуйста, перейдите на следующую страницу, чтобы подтвердить ваше приглашение и присоединиться
    к рабочему пространству: <a href="{{ domain }}/{{ url|safe }}">{{ domain }}/{{ url|safe }}</a>
</p>
<p>Спасибо за использование нашего сайта!</p>
<p>Команда PulseWave</p>

{% endblock html_body %}
